<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="../img/logo2.png" type="image/png">
    
    <title>DIETIO</title>
</head>
<body>
    <div class="home">
        <div class="headerhome">
            <div class="logohome">
                <h1>Home</h1>
                <img class="logo" src="../img/logo.png" alt="logo">
            </div>
            <div class="calendar">
                <h4>2022</h4>
                <h2>August</h2>
                <div class="date">
                    <p>SUN</p>
                    <p>MON</p>
                    <p>TUE</p>
                    <p>WED</p>
                    <p>THU</p>
                    <p>FRI</p>
                    <p>SAT</p>
                </div>
                <div class="day">
                    <p id="past-day">10</p>
                    <p id="past-day">11</p>
                    <p id="current-day">12</p>
                    <p>13</p>
                    <p>14</p>
                    <p>15</p>
                    <p>16</p>
                </div>
                <div class="totaldiet">
                    <h2>Diet Hari ke-3</h2>
                </div>
            </div>
            <div class="calories">
                <div class="calorie-text">
                    <h4>Kalorimu Hari Ini</h4>
                </div>
                <div class="rectangle">
                    <h1>75 %</h1>
                </div>
                <h3>1.500 / 2.000 kalori</h3>
            </div>
            <div class="catat">
                <div class="catat-text">
                    <h3>Catat Jumlah Kalori</h3>
                </div>
                <div class="container-catat">
                    <a class="box-catat" href="../views/note.html">
                        <div class="box">
                            <img src="../img/morning.png" alt="Morning">
                            <h2>Catat Makan Pagi</h2>
                        </div>
                    </a>
                    <a class="box-catat" href="../views/note.html">
                        <div class="box">
                            <img src="../img/evening.png" alt="Evening">
                            <h2>Catat Makan Siang</h2>
                        </div>
                    </a>
                    <a class="box-catat" href="../views/note.html">
                        <div class="box">
                            <img src="../img/night.png" alt="">
                            <h2>Catat Makan Malam</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer">
                <div class="menu-bar">
                    <a class="current-menu" href="#">
                        <i class="fa-sharp fa-solid fa-house fa-xl"></i>
                        <h5>Home</h5>
                    </a>
                    <a class="menu" href="#">
                        <i class="fa-solid fa-chart-line fa-xl"></i>
                        <h5>Progress</h5>
                    </a>
                    <a class="menu" href="#">
                        <i class="fa-solid fa-book-open fa-xl"></i>
                        <h5>Thread</h5>
                    </a>
                    <a class="menu" href="#">
                        <i class="fa-sharp fa-solid fa-utensils fa-xl"></i>
                        <h5>Catering</h5>
                    </a>
                    <a class="menu" href="#">
                        <i class="fa-solid fa-user fa-xl"></i>
                        <h5>Profile</h5> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>