<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/note.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="../img/logo2.png" type="image/png">
    
    <title>DIETIO</title>
</head>
<body>
    <div class="home">
        <div class="headerhome">
            <div class="logohome">
                <a class="back" href="javascript:javascript:history.go(-1)"><img src="../img/chevron-right.png" alt="back"></a>
                <img class="logo" src="../img/logo.png" alt="logo">
                <h1>Catat Kalori Makanan</h1>
            </div>
            <img class="logo-header" src="../img/headlog.png" alt="Header">
        </div>
    </div>
</body>
</html>